body {
    font-family: sans-serif;
    padding: 1em 25vw;
}

@media screen and (max-width: 720px) {
    body {
        padding: 1em;
    }
}

a[href$="/code.ml"] {
    font-family: monospace;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 10%;
    padding: 5px;
  }

  .column2 {
    float: left;
    width: 90%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }