<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    </head>
    <body>
        <a class="github-fork-ribbon" href="https://github.com/WartaPoirier-corp/cours-min" target="_blank" data-ribbon="Voir sur GitHub" title="Voir sur GitHub">Voir sur GitHub</a>
        
        {% set this = section | default(default=page) %}
        {% for anc in this.ancestors %}
            {% set anc = get_section(path=anc) %}
            {% if not loop.first %}
                /
            {% endif %}
            <a href="{{ anc.permalink }}">{{ anc.title }}</a>
        {% endfor %}

        {% block content %}{% endblock content %}
        <footer>
            <img src="/wp.png" alt="Logo de la WartaPoirier Corp.">
                <p>
                    Ce moment de praticité qualitatif vous est offert par <b><a href="https://wp-corp.eu.org">la WartaPoirier Corp</a></b>.
                    Nous vous remercions d'utiliser cette nouvelle offre qui permet de consulter
                    vos cours de manière disruptive. Le contenu de ce site est sous licence GPL-3.0,
                    mais les copies des documents que nous distribuons ne sont pas concernées par
                    cette licence et son la propriété de leurs auteurices respecti⋅f⋅ve⋅s. Si vous
                    êtes à l'origine d'un des fichiers présent sur ce site et que vous voudriez
                    que nous le retirions, <a href="https://github.com/WartaPoirier-corp/cours-min/issues/new">merci d'ouvrir
                    un ticket</a>.
                </p>
        </footer>
    </body>
</html>
