{% extends "base.html" %}

{% block title %}
    {{ section.title }}
{% endblock title %}

{% block content %}
    <h1>{{ section.title }}</h1>
    <p>{{ section.content | safe }}</p>

    <h3>Table des matières</h3>
    <ul class="toc">
    {% for ue in section.subsections %}
        {% set ue = get_section(path=ue) %}
        <li><a href="#{{ ue.title | slugify }}">{{ ue.title }}</a></h2>
    {% endfor %}
    </ul>

    {% for ue in section.subsections %}
        {% set ue = get_section(path=ue) %}
        <h2 id="{{ ue.title | slugify }}"><a href="{{ ue.permalink }}">{{ ue.title }}</a></h2>
        {{ ue.content | safe }}
    {% endfor %}

    {% if section.extra.show_turing %}
        <div class="info">
            <h2 style="margin-top: 0;">Turing depuis votre navigateur</h2>
            <p>
                Pour les UEs d'INF*, un pont (non-officiel) vers turing a été
                mis en place à l'addresse
                <a href="https://uga-turing.edgar.bzh/" target="_blank">https://uga-turing.edgar.bzh/</a>,
                et permet d'accéder à turing depuis un navigateur web, sans
                installer quoi que ce soit sur votre ordinateur.
            </p>
            <p>
                Nous insistons sur le fait que ce service est non-officiel, et
                n'offrons absolument <mark>AUCUNE GARANTIE</mark> sur son bon
                fonctionnement, ni sur l'absence de faille de sécurité qui
                donneraient, par exemple, accès à votre compte UGA à une
                personne non autorisée.
                <mark>
                    NOUS DECLINONS TOUTE RESPONSABILITE EN CAS DE COMPROMISSION
                    DE COMPTE PAR LE BIAIS DE CE SERVICE
                </mark>
            </p>
            <p>
                <i>
                    Nous faisons quand même du mieux possible pour fournir un
                    service de qualité et mettons en oeuvre tout ce qu'il nous
                    est possible de mettre en oeuvre pour pas qu'il n'y ait de
                    problème.s (connection sécurisée par HTTPS par exemple).
                </i>
            </p>
        </div>
    {% endif %}
{% endblock content %}

